<div class="clampable-text">
  <div class="clampable-text__body">
    @if (html) {
    <div class="clampable-text__content">
      <div #content class="clampable-text__clamp" [class.is-clamped]="!expanded" [style.--clamp-lines]="maxLines"
        [innerHTML]="html"></div>
    </div>
    } @else {
    <div class="clampable-text__content">
      <div #content class="clampable-text__clamp" [class.is-clamped]="!expanded" [style.--clamp-lines]="maxLines">
        <ng-content></ng-content>
      </div>
    </div>
    }
    @if (showToggle) {
    <button type="button" mat-icon-button class="clampable-text__toggle" (click)="toggle($event)"
      [attr.aria-label]="expanded ? 'Show less' : 'Show more'"
      [attr.aria-expanded]="expanded">
      <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    }
  </div>
</div>
