@if (_episode) {
@if (!_episode.posted || !_episode.tweeted || _episode.ignored || _episode.removed) {
<p id="status">
    <mat-icon svgIcon="reddit" [ngClass]="{'not':!_episode.posted}"></mat-icon>
    <mat-icon svgIcon="twitter" [ngClass]="{'not':!_episode.tweeted}"></mat-icon>
    <mat-icon svgIcon="bluesky" [ngClass]="{'not':!_episode.bluesky}"></mat-icon>
    @if (_episode.ignored) {
    <mat-icon svgIcon="visible" title="ignored"></mat-icon>
    }
    @if (_episode.removed) {
    <mat-icon svgIcon="removed" title="removed"></mat-icon>
    }
</p>
}
}