#status
    mat-icon
        height: 30px
        width: 30px
        margin-right: 20px
    mat-icon.not
        filter: opacity(0.5)
    .flag-toggle
        width: 30px
        height: 30px
        line-height: 30px
        margin-right: 20px
        padding: 0
        mat-icon
            margin-right: 0
