@let dur = duration();
<mat-card class="result" [class.selected]="selected && ! errored" [class.error]="errored" (click)="handleResult($event, result)" attr.data-id="{{result.id}}"
    [appHide]="(resultsFilter==='selected' && !selected) || (resultsFilter=='errored' && !selected)"
    [class.unknownDuration]="!dur.known">
    <mat-card-header>
        <mat-card-title [innerHTML]="result.episodeName"></mat-card-title>
        <mat-card-subtitle [class.multipleMatchingPodcasts]="result.matchingPodcasts.length > 1"
            [class.matchedPodcast]="result.matchingPodcasts.length==1">
            @if (result.matchingPodcasts.length==0) {
            {{result.showName}}
            } @else if (result.matchingPodcasts.length==1) {
            <a [routerLink]="['/podcast', result.matchingPodcasts[0]]" (click)="allowLink($event)">
                {{result.matchingPodcasts[0]}}
            </a>
            } @else {
            {{result.matchingPodcasts.join(",")}}
            }
        </mat-card-subtitle>
        <mat-card-subtitle>
            {{result.released | date:'d MMM yyyy H:mm'}}
            <span [class.unknown]="!dur.known">
                {{dur.text}}
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @if (result.showDescription && result.matchingPodcasts.length==0) {
        <p class="showDescription" [innerHTML]="result.showDescription"></p>
        }
        <app-episode-image [discoveryResult]="result"></app-episode-image>
        <p class="resultdescription" [innerHTML]="result.episodeDescription"></p>
    </mat-card-content>
    <mat-card-actions>
        @if (result.urls.youtube!=null) {
        <a href="{{result.urls.youtube}}" mat-icon-button target="_blank" (click)="allowLink($event)">
            <mat-icon svgIcon="youtube"></mat-icon>
        </a>
        @if (result.youTubeViews || result.youTubeChannelMembers) {
        <div class="youtubemeta">
            @if (result.youTubeViews) {
            <span>Views: {{result.youTubeViews}}</span>
            }
            @if (result.youTubeChannelMembers) {
            <span>Members: {{result.youTubeChannelMembers}}</span>
            }
        </div>
        }
        }
        @if (result.urls.spotify!=null) {
        <a href="{{result.urls.spotify}}" mat-icon-button target="_blank" (click)="allowLink($event)">
            <mat-icon svgIcon="spotify"></mat-icon>
        </a>
        }
        @if (result.urls.apple) {
        <a href="{{result.urls.apple}}" mat-icon-button target="_blank" (click)="allowLink($event)">
            <mat-icon><app-apple-podcasts-svg></app-apple-podcasts-svg></mat-icon>
        </a>
        }
        <mat-card-footer class="subjects">
            <app-subjects [subjects]="result.subjects!" [showHidden]="true" [stopPropagation]="true"></app-subjects>
        </mat-card-footer>
    </mat-card-actions>
</mat-card>