<mat-card 
    class="result" 
    [ngClass]="{'error': this.errored}"
    (click)="handleResult($event, result)" 
    attr.data-id="{{result.id}}"
    [appHide]="(resultsFilter==='selected' && !this.selected) || (resultsFilter=='errored' && !this.selected)">
    <mat-card-header>
        <mat-card-title [innerHTML]="result.episodeName"></mat-card-title>
        <mat-card-subtitle
            [ngClass]="result.matchingPodcasts.length>1 ? 'multipleMatchingPodcasts' : result.matchingPodcasts.length==1 ? 'matchedPodcast' : ''">
            <ng-container *ngIf="result.matchingPodcasts.length==0">
                {{result.showName}}
            </ng-container>
            <ng-container *ngIf="result.matchingPodcasts.length>0">
                {{result.matchingPodcasts.join(",")}}
            </ng-container>
        </mat-card-subtitle>
        <mat-card-subtitle>
            {{result.released | date:'d MMM yyyy H:mm'}}
            {{duration()}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="showDescription" *ngIf="result.showDescription && result.matchingPodcasts.length==0">
            {{result.showDescription}}</p>
        <ng-container *ngIf="result.imageUrl">
            <img [src]="result.imageUrl">
        </ng-container>
        <p class="resultdescription">{{result.episodeDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
        <ng-container *ngIf="result.urls.youtube!=null">
            <a href="{{result.urls.youtube}}" mat-icon-button target="_blank" (click)="allowLink($event)">
                <mat-icon svgIcon="youtube"></mat-icon>
            </a>
            <div *ngIf="result.youTubeViews || result.youTubeChannelMembers" class="youtubemeta">
                <span *ngIf="result.youTubeViews">Views: {{result.youTubeViews}}</span>
                <span *ngIf="result.youTubeChannelMembers">Members: {{result.youTubeChannelMembers}}</span>
            </div>
        </ng-container>
        <a *ngIf="result.urls.spotify!=null" href="{{result.urls.spotify}}" mat-icon-button target="_blank"
            (click)="allowLink($event)">
            <mat-icon svgIcon="spotify"></mat-icon>
        </a>
        <a *ngIf="result.urls.apple" href="{{result.urls.apple}}" mat-icon-button target="_blank"
            (click)="allowLink($event)">
            <mat-icon svgIcon="apple-podcasts"></mat-icon>
        </a>
        <mat-card-footer class="subjects">
            <div *ngFor="let subject of result.subjects" class="subject">
                <a [routerLink]="['/subject', subject]">{{subject}}</a>
            </div>
        </mat-card-footer>
    </mat-card-actions>
</mat-card>