<h2 mat-dialog-title>Post Episode</h2>

<mat-dialog-content>
    @if (this.isSending) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    } @else if (this.isInError) {
    <p id="error">An error occurred</p>
    } @else {
    <form id="post" [formGroup]="form!" (ngSubmit)="onSubmit()">
        <div class="flags">
            <label>
                <span>Post:</span>
                <input type="checkbox" [formControl]="form!.controls.post">
            </label>
            <label>
                <span>Tweet:</span>
                <input type="checkbox" [formControl]="form!.controls.tweet">
            </label>
            <label>
                <span>Bluesky Post:</span>
                <input type="checkbox" [formControl]="form!.controls.blueskyPost">
            </label>
        </div>
    </form>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="this.isSending" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>