@if (episode) {
<section id="results" class="episodePage">
  <mat-card class="result">
    <mat-card-header>
      <app-bookmark [episodeId]="episode.id" [hasMenu]="authRoles.includes('Curator')" />
      @if (authRoles.includes('Curator')) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit(episode.id)">
          <mat-icon>edit</mat-icon>
          <span>Edit Episode</span>
        </button>
        <button mat-menu-item (click)="post(episode.id)">
          <mat-icon>send</mat-icon>
          <span>Post Episode</span>
        </button>
      </mat-menu>
      }
      <mat-card-title [class.hasMenu]="authRoles.includes('Curator')" [class.hasBookmark]="isSignedIn">
        <span [outerHTML]="episode.episodeTitle"></span>
      </mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/podcast', podcastName]">
          {{podcastName}}
        </a>
      </mat-card-subtitle>
      <mat-card-subtitle>{{episode.release | date:'d MMM yyyy'}}
        [{{episode.duration.split(".")[0].substring(1)}}]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="resultdescription">
      <app-episode-image [searchResult]="episode" [linksOverlay]="true"></app-episode-image>
      <p>{{episode.episodeDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <app-episode-links [episode]="episode"></app-episode-links>
      <mat-card-footer class="subjects">
        <app-subjects [subjects]="episode.subjects!"></app-subjects>
      </mat-card-footer>
    </mat-card-actions>
  </mat-card>
</section>
} @else if (!isLoading) {
<section id="resultsheading">
  <h2>Episode not found.</h2>
</section>
<section>
  <div id="cta-button">
    <button mat-flat-button color="primary" (click)="podcastPage()">Try the Podcast's page!</button>
  </div>
</section>
}