<div id="episodepublishsnackbarwrapper">
    <div matSnackBarLabel class="label">{{message}}</div>

    <div matSnackBarActions>
        @if (showCopyTweet){
        <button class="action" mat-button matsnackbaraction
            class="mat-mdc-snack-bar-action mdc-snackbar__action mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
            mat-ripple-loader-class-name="mat-mdc-button-ripple" (click)="copyTweet()">
            <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
            <span class="mdc-button__label"> Copy Tweet </span>
            <span class="mat-mdc-focus-indicator"></span>
            <span class="mat-mdc-button-touch-target"></span>
            <span class="mat-ripple mat-mdc-button-ripple"></span>
        </button>
        }

        <button class="action" mat-button matsnackbaraction
            class="mat-mdc-snack-bar-action mdc-snackbar__action mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
            mat-ripple-loader-class-name="mat-mdc-button-ripple" (click)="action()">
            <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
            <span class="mdc-button__label"> Ok </span>
            <span class="mat-mdc-focus-indicator"></span>
            <span class="mat-mdc-button-touch-target"></span>
            <span class="mat-ripple mat-mdc-button-ripple"></span>
        </button>
    </div>
</div>