<div id="episodepublishsnackbarwrapper">
    <div matSnackBarLabel class="label">{{message()}}</div>

    <div matSnackBarActions>
        @if (showManualTweet()){
        <button matButton matSnackBarAction
            class="mat-mdc-snack-bar-action mdc-snackbar__action mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
            (click)="manualTweet()">
            Manual Tweet
        </button>
        }

        <button matButton matSnackBarAction
            class="mat-mdc-snack-bar-action mdc-snackbar__action mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
            (click)="action()">
            Ok
        </button>
    </div>
</div>
