<section id="results" #resultsContainer>

  <div id="progresswrapper">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
  <section id="resultsheading">
    <h2>Discovery results<ng-container *ngIf="this.minDate"> since {{minDate| date:'d MMM yyyy H:mm'}}</ng-container>
    </h2>
  </section>
  <h3 *ngIf="!isLoading && results?.length==0">There are no discovery results</h3>
  <discovery-item *ngFor="let result of results" (changeState)="handleEvent($event)" [result]="result" [events]="submittedSubject.asObservable()"></discovery-item>

  <div id="actions" *ngIf="results && results.length>0 && displaySave">
    <button mat-raised-button class="mat-primary" (click)="close()" disabled="{{this.closeDisabled}}">Close</button>
    <button mat-raised-button class="mat-primary" (click)="save()" disabled="{{this.saveDisabled}}">Save</button>
  </div>
</section>

