<h2 mat-dialog-title>Add Term</h2>

<mat-dialog-content>
    @if (isSending) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    } @else {
    @if (isInError || conflict) {
    @if (conflict) {
    <p id="error">Term is already recognised.</p>
    } @else {
    <p id="error">An error occurred</p>
    }
    }
    <input matInput type="text" [(ngModel)]="term" (keydown.enter)="onSubmit()">
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="!term" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>