<section id="results" *ngIf="count > 0">
  <div id="progresswrapper">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
  <section id="resultsheading">
    <h2>{{podcastName}} has {{count}} episode<ng-container *ngIf="count>1 || count==0">s</ng-container><ng-container
        *ngIf="this.searchState.query && this.searchState.query!=''">
        matching "{{this.searchState.query}}"</ng-container> found by CultPodcasts.com</h2>
    <button id="sort" mat-icon-button [matMenuTriggerFor]="sort">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #sort="matMenu">
      @if (this.authRoles.includes('Curator')) {
      <button mat-menu-item id="index" (click)="index()">
        <mat-icon>refresh</mat-icon>
        <span>Index Podcast</span>
      </button>
      <button mat-menu-item id="edit" (click)="editPodcast()">
        <mat-icon>edit</mat-icon>
        <span>Edit Podcast</span>
      </button>
      <button mat-menu-item (click)="submitUrlForPodcast()">
        <mat-icon>add</mat-icon>
        <span>Submit Url for Podcast</span>
      </button>
      }
      @if (this.authRoles.includes('Admin')) {
      <button mat-menu-item (click)="renamePodcast()">
        <mat-icon>arrow_right_alt</mat-icon>
        <span>Rename Podcast</span>
      </button>
      }
      <button mat-menu-item id="dateasc" (click)="setSort(sortParamDateAsc)"
        [ngClass]="searchState.sort==sortParamDateAsc?'selected':''">
        <mat-icon>arrow_upward</mat-icon>
        <span>Date ascending</span>
      </button>
      <button mat-menu-item id="datedesc" (click)="setSort(sortParamDateDesc)"
        [ngClass]="searchState.sort==sortParamDateDesc?'selected':''">
        <mat-icon>arrow_downward</mat-icon>
        <span>Date descending</span>
      </button>
      <button *ngIf="searchState.query" mat-menu-item id="rank" (click)="setSort(sortParamRank)"
        [ngClass]="searchState.sort==sortParamRank?'selected':''">
        <mat-icon></mat-icon>
        <span>Rank</span>
      </button>
    </mat-menu>
  </section>

  @if (this.facets.subjects && this.facets.subjects.length > 0) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Subjects ({{this.facets.subjects!.length}})</mat-panel-title>
      <mat-panel-description>
        @if (this.subjects.length==0) {
        All Selected
        } @else {
        {{this.subjects.length}} Selected
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox multiple (change)="this.subjectsChange($event)">
      @for (subject of this.facets.subjects; track subject.value) {
      <mat-chip-option [value]="subject" [selected]="this.subjects.indexOf(subject.value)>=0">{{subject.value}}
        ({{subject.count}})</mat-chip-option>
      }
    </mat-chip-listbox>
  </mat-expansion-panel>
  }
  <mat-card *ngFor="let result of results" class="result">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/podcast', result.podcastName, result.id]" [innerHTML]="result.episodeTitle"></a>
      </mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/podcast', podcastName]">
          {{result.podcastName}}
        </a>
      </mat-card-subtitle>
      <mat-card-subtitle>{{result.release | date:'d MMM yyyy'}}
        [{{result.duration.split(".")[0].substring(1)}}]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="resultdescription">
      <p>{{result.episodeDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a *ngIf="result.youtube" href="{{result.youtube}}" mat-icon-button>
        <mat-icon svgIcon="youtube"></mat-icon>
      </a>
      <a *ngIf="result.spotify" href="{{result.spotify}}" mat-icon-button>
        <mat-icon svgIcon="spotify"></mat-icon>
      </a>
      <a *ngIf="result.apple" href="{{result.apple}}" mat-icon-button>
        <mat-icon svgIcon="apple-podcasts"></mat-icon>
      </a>
      <button mat-icon-button (click)="share(result)">
        <mat-icon>share</mat-icon>
      </button>
      <mat-card-footer class="subjects">
        <div *ngFor="let subject of result.subjects" class="subject">
          @if (!subject.startsWith("_")) {
          <a [routerLink]="['/subject', subject]">{{subject}}</a>
          }
        </div>
      </mat-card-footer>
    </mat-card-actions>
  </mat-card>
</section>
<section *ngIf="showPagingPrevious || showPagingNext" id="paging">
  <a mat-button id="previous" *ngIf="showPagingPrevious" (click)="setPage(-1)">Previous</a>
  <a mat-button id="next" *ngIf="showPagingNext" (click)="setPage(1)">Next</a>
</section>
@if (count === 0 && !isLoading) {
<section id="resultsheading">
  <h2>There were no results for "{{podcastName}}"<span *ngIf="searchState.query"> and "{{searchState.query}}"</span>
  </h2>
</section>
<section>
  <div id="cta-button">
    <button mat-flat-button color="primary" (click)="search()">Try Search!</button>
  </div>
</section>
}