@if ((guestPeople?.length ?? 0) > 0) {
<div class="guest-group">
    @for (person of guestPeople; track person.id) {
    <div class="guest" [class.loading]="isGuestLoading(person.name)">
        <span>{{personLabel(person)}}</span>
        @if (editable) {
        <button mat-icon-button type="button" class="remove-btn" [disabled]="disabled || isGuestLoading(person.name)"
            (click)="onRemoveGuest(person.name, $event)" [attr.aria-label]="'Remove guest ' + person.name">
            <mat-icon>close</mat-icon>
        </button>
        }
        @if (isGuestLoading(person.name)) {
        <mat-spinner diameter="16"></mat-spinner>
        }
    </div>
    }
</div>
}
@if ((guestSuggestions?.length ?? 0) > 0) {
<div class="guest-group guest-group-suggested">
    @for (suggestion of guestSuggestions; track suggestion.person.id) {
    <div class="guest guest-suggested" [class.loading]="isGuestLoading(suggestion.person.name)">
        <span>{{suggestionLabel(suggestion)}}</span>
        @if (editable) {
        <button mat-icon-button type="button" class="add-btn"
            [disabled]="disabled || isGuestLoading(suggestion.person.name)"
            [attr.aria-busy]="isGuestLoading(suggestion.person.name)"
            [attr.aria-label]="'Add guest ' + suggestion.person.name"
            (click)="onAddSuggestedGuest(suggestion.person.name, $event)">
            <mat-icon>add</mat-icon>
        </button>
        }
        @if (isGuestLoading(suggestion.person.name)) {
        <mat-spinner diameter="16"></mat-spinner>
        }
    </div>
    }
</div>
}
