#searchcontainer
    margin: 12px 10px 4px
    #searchbar
        align-items: stretch
        display: flex
        list-style-type: none
        padding: 0
        gap: 10px
        #searchbox
            flex-grow: 1
            margin-bottom: -1.25em
            mat-chip
                margin-top: -4px
                margin-bottom: -4px
                margin-left: 0
                .chiptext
                    display: block
                    overflow: hidden
                    text-overflow: ellipsis
            input.mat-mdc-chip-input
                flex: 1 0 10px
        #searchcta
            align-self: flex-start
            height: 56px
            min-width: 6.5rem
            border-radius: 999px
            font-weight: 600
            letter-spacing: 0.02em

@media screen and (min-width: 400px)
    .chiptext
        max-width: 150px
@media screen and (max-width: 400px)
    .chiptext
        max-width: 75px
@media screen and (max-width: 300px)
    .chiptext
        max-width: 40px
