#container
    width: 100%
    aspect-ratio: 16/9
    margin-bottom: 10px
    overflow: hidden
    img
        object-fit: cover
        height: 100%
        margin: 0 auto
        display: block
    img.cropped
        position: relative
        width: 100%
        top: -16.4%
        height: 133%
