img,.img
    max-height: 300px
    max-width: 100%
    margin: 0 auto 10px
    display: block

.img
    height: 300px

@media screen and (max-width: 599px) 
    img,.img
        max-height: 200px

    .img
        height: 200px

