<section id="results">
  <div id="progresswrapper">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
  <h3>{{resultsHeading}}</h3>
  <mat-card *ngFor="let result of results" class="result">
    <mat-card-header>
      <mat-card-title>{{result.episodeTitle}}</mat-card-title>
      <mat-card-subtitle>{{result.podcastName}}, {{result.release  | date:'dd MMM yyyy'}} [{{result.length}}]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="resultdescription">
      <p>{{result.episodeDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button *ngIf="result.spotify" href="{{result.spotify}}">Spotify</a>
      <a mat-button *ngIf="result.apple" href="{{result.apple}}">Apple</a>
      <a mat-button *ngIf="result.youtube" href="{{result.youtube}}">You Tube</a>
    </mat-card-actions>
  </mat-card>
</section>
<section *ngIf="showPagingPreviousInit || showPagingPrevious || showPagingNext" id="paging">
  <a mat-button id="previous" *ngIf="showPagingPreviousInit" [routerLink]="['/search', this.query]">Previous</a>
  <a mat-button id="previous" *ngIf="showPagingPrevious" [routerLink]="['/search', this.query, {page:this.prevPage}]">Previous</a>
  <a mat-button id="next" *ngIf="showPagingNext" [routerLink]="['/search', this.query, {page:this.nextPage}]">Next</a>
</section>

