@if (count > 0) {
<section id="results">
  <div id="progresswrapper">
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </div>
  <section id="resultsheading">
    <h2>{{subjectName}} has {{count}} episode@if (count>1 || count==0){s}
      @if (searchState.query && searchState.query!='') {
      matching "{{searchState.query}}"
      }</h2>
    <button id="sort" mat-icon-button [matMenuTriggerFor]="sort">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #sort="matMenu">
      @if (authRoles.includes('Curator')) {
      <button mat-menu-item id="edit" (click)="editSubject()">
        <mat-icon>edit</mat-icon>
        <span>Edit Subject</span>
      </button>
      }
      <button mat-menu-item id="dateasc" (click)="setSort(sortParamDateAsc)"
        [ngClass]="searchState.sort==sortParamDateAsc?'selected':''">
        <mat-icon>arrow_upward</mat-icon>
        <span>Date ascending</span>
      </button>
      <button mat-menu-item id="datedesc" (click)="setSort(sortParamDateDesc)"
        [ngClass]="searchState.sort==sortParamDateDesc?'selected':''">
        <mat-icon>arrow_downward</mat-icon>
        <span>Date descending</span>
      </button>
      @if (searchState.query) {
      <button mat-menu-item id="rank" (click)="setSort(sortParamRank)"
        [ngClass]="searchState.sort==sortParamRank?'selected':''">
        <mat-icon></mat-icon>
        <span>Rank</span>
      </button>
      }
    </mat-menu>
  </section>

  @if (facets.podcastName && facets.podcastName.length > 0) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Podcasts ({{facets.podcastName!.length}})</mat-panel-title>
      <mat-panel-description>
        @if (podcasts.length==0) {
        All Selected
        } @else {
        {{podcasts.length}} Selected
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox multiple (change)="podcastsChange($event)">
      @for (podcastName of facets.podcastName; track podcastName.value) {
      <mat-chip-option [value]="podcastName" [selected]="podcasts.indexOf(podcastName.value)>=0">{{podcastName.value}}
        ({{podcastName.count}})</mat-chip-option>
      }
    </mat-chip-listbox>
  </mat-expansion-panel>
  }

  @for (result of results; track result.id) {
  <mat-card class="result">
    <mat-card-header>
      <app-bookmark [episodeId]="result.id"/>
      <mat-card-title [class.hasBookmark]="isSignedIn">
        <a [routerLink]="['/podcast', result.podcastName, result.id]" [innerHTML]="result.episodeTitle"></a>
      </mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/podcast', result.podcastName]">
          {{result.podcastName}}
        </a>
      </mat-card-subtitle>
      <mat-card-subtitle>{{result.release | date:'d MMM yyyy'}}
        [{{result.duration.split(".")[0].substring(1)}}]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="resultdescription">
      <app-episode-image [searchResult]="result" [linksOverlay]="true"></app-episode-image>
      <p>{{result.episodeDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <app-episode-links [episode]="result"></app-episode-links>
      <mat-card-footer class="subjects">
        <app-subjects [subjects]="result.subjects!"></app-subjects>
      </mat-card-footer>
    </mat-card-actions>
  </mat-card>
  }
</section>
} 
@if (showPagingPrevious || showPagingNext) {
<section id="paging">
  @if (showPagingPrevious) {
    <a mat-button id="previous" (click)="setPage(-1)">Previous</a>
  }
  @if (showPagingNext) {
    <a mat-button id="next" (click)="setPage(1)">Next</a>
  }
</section>
}
@if (count === 0 && !isLoading) {
<section>
  <h2>There were no results for "{{subjectName}}"@if (searchState.query){ and "{{searchState.query}}"}</h2>
  <div id="cta-button">
    <button mat-flat-button color="primary" (click)="search()">Try Search!</button>
  </div>
</section>
}