<section id="homepage">
    HOME
    <!-- <h3>This weeks new releases</h3>
    <mat-card *ngFor="let item of homepage?.recentEpisodes" class="result">
      <mat-card-header>
        <mat-card-title>{{item.episodeTitle}}</mat-card-title>
        <mat-card-subtitle>{{item.podcastName}}, {{item.release | date:'dd MMM yyyy'}} [{{item.length}}]</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="resultdescription">
        <p>{{item.episodeDescription}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button *ngIf="item.spotify" href="{{item.spotify}}">Spotify</a>
        <a mat-button *ngIf="item.apple" href="{{item.apple}}">Apple</a>
        <a mat-button *ngIf="item.youtube" href="{{item.youtube}}">You Tube</a>
      </mat-card-actions>
    </mat-card> -->
  </section>
