<section id="results" #resultsContainer>

  <div id="progresswrapper">
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </div>
  <section id="resultsheading">
    <h2>Discovery results@if (minDate){ since {{minDate| date:'d MMM yyyy H:mm'}}}
    </h2>
  </section>
  @if (!isLoading && !isInError && results.length == 0) {
  <h3>There are no discovery results</h3>
  }
  @if (isInError) {
  <h3>Error requesting discovery</h3>
  <div id="cta-button">
    <button mat-flat-button color="primary" (click)="ngOnInit()">Try Again!</button>
  </div>
  }
  @if (!isLoading) {
  @for ( result of results | discoveryItemFilter: {isFocused: true}; track $index){
  <discovery-item (changeState)="handleEvent($event)" [result]="result"
    [selectedEvent]="submittedSubject.asObservable()" [resultFilterEvent]="resultsFilterSubject.asObservable()"
    [erroredEvent]="erroredSubject.asObservable()"></discovery-item>
  }
  <mat-divider [appHide]="resultsFilter==='focused' || submitted || !hasUnfocused"></mat-divider>
  @for (result of results | discoveryItemFilter: {isFocused: false}; track $index) {
  <discovery-item (changeState)="handleEvent($event)" [result]="result"
    [selectedEvent]="submittedSubject.asObservable()" [resultFilterEvent]="resultsFilterSubject.asObservable()"
    [erroredEvent]="erroredSubject.asObservable()" [appHide]="resultsFilter==='focused'"></discovery-item>
  }
  }
  @if (results && results.length>0) {
  <div id="actions">
    <mat-button-toggle-group [value]="resultsFilter" (change)="resultsFilterChange($event)">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="focused">Focused</mat-button-toggle>
      <mat-button-toggle value="selected">Selected</mat-button-toggle>
    </mat-button-toggle-group>
    @if (displaySave) {
    <button mat-raised-button class="mat-primary" (click)="close()" disabled="{{closeDisabled}}">Close</button>
    <button mat-raised-button class="mat-primary" (click)="save()" disabled="{{saveDisabled}}"
      [matBadge]="selectedIds.length" [matBadgeHidden]="saveDisabled">Save</button>
    }
  </div>
  }
</section>