#error
    font-size: 1em
#edit
    .full-width
        width: 100%
        display: block
        margin-top: 8px
        margin-bottom: 4px
.flairs
    .mat-mdc-option.mdc-list-item--selected
        .mdc-list-item__primary-text
            color: yellow !important
