<h2 mat-dialog-title>{{create?"Add":"Edit"}} Subject</h2>

<mat-dialog-content>
    @if (isLoading()) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    } @else if (isInError()) {
    <p id="error">An error occurred</p>
    } @else {
    <form id="edit" [formGroup]="form()!" (ngSubmit)="onSubmit()">
        <mat-tab-group>
            <mat-tab label="Details">
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input type="text" [formControl]="form()!.controls.name" [readonly]="!create" matInput>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Aliases</mat-label>
                    <textarea [formControl]="form()!.controls.aliases" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Associated Subjects</mat-label>
                    <textarea [formControl]="form()!.controls.associatedSubjects" matInput
                        cdkTextareaAutosize></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Subject Type</mat-label>
                    <mat-select [formControl]="form()!.controls.subjectType">
                        @for (subjectType of subjectTypes; track $index) {
                        <mat-option [value]="subjectType">{{subjectType}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Hash Tags & Terms">
                <mat-form-field class="full-width">
                    <mat-label>Hash Tags</mat-label>
                    <input type="text" [formControl]="form()!.controls.hashTag" matInput
                        placeholder="#tag1 #tag2" (blur)="normalizeHashTag()">
                    @if (form()!.controls.hashTag.hasError('hashPrefixedTag')) {
                    <mat-error>Each tag must start with #</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Enrichment Hash Tags</mat-label>
                    <textarea [formControl]="form()!.controls.enrichmentHashTags" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Known Terms</mat-label>
                    <input type="text" [formControl]="form()!.controls.knownTerms" matInput>
                </mat-form-field>
            </mat-tab>
            @if (featureSwitchService.IsEnabled(FeatureSwitch.reddit)) {
            <mat-tab label="Reddit">
                <mat-form-field class="full-width">
                    <mat-label>Flair Id</mat-label>
                    <mat-select [formControl]="form()!.controls.redditFlairTemplateId" id="flair" [style]="styleSelect()"
                        panelClass="flairs">
                        <mat-option [value]="">No Subject</mat-option>
                        @for (flair of flairs() | keyvalue; track flair.key) {
                        <mat-option [value]="flair.key"
                            [style]="styleOption(flair.value)">{{flair.key.substring(0,8)}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Flair Text</mat-label>
                    <input type="text" [formControl]="form()!.controls.redditFlareText" matInput>
                </mat-form-field>
            </mat-tab>
            }
        </mat-tab-group>
    </form>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="!form() || !form()!.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
