<h2 mat-dialog-title>{{this.create?"Add":"Edit"}} Subject</h2>

<mat-dialog-content>
    @if (this.isLoading) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    } @else if (this.isInError) {
    <p id="error">An error occurred</p>
    } @else {

    <form id="edit" [formGroup]="form!" (ngSubmit)="onSubmit()">
        <mat-tab-group>
            <mat-tab label="Details">
                <label>
                    <span>Name:</span>
                    <input type="text" [formControl]="form!.controls.name" [readonly]="!this.create">
                </label>
                <label>
                    <span>Aliases:</span>
                    <textarea [formControl]="form!.controls.aliases"></textarea>
                </label>
                <label>
                    <span>Associated Subjects:</span>
                    <textarea type="text" [formControl]="form!.controls.associatedSubjects"></textarea>
                </label>
                <label>
                    <span>Subject Type:</span>
                    <select matNativeControl [formControl]="form!.controls.subjectType">
                        @for (subjectType of subjectTypes; track $index) {
                        <option [value]="subjectType">{{subjectType}}</option>
                        }
                    </select>
                </label>
            </mat-tab>
            <mat-tab label="Hash Tags">
                <label>
                    <span>Hash Tags:</span>
                    <input type="text" [formControl]="form!.controls.hashTag">
                </label>
                <label>
                    <span>Enrichment Hash Tags:</span>
                    <textarea [formControl]="form!.controls.enrichmentHashTags"></textarea>
                </label>
            </mat-tab>
            <mat-tab label="Reddit">
                <label>
                    <span>Flair Id:</span>
                    <mat-select [formControl]="form!.controls.redditFlairTemplateId" id="flair" [style]="styleSelect()"
                        panelClass="flairs">
                        <mat-option [value]="">No Subject</mat-option>
                        @for (flair of this.flairs | keyvalue; track flair.key) {
                        <mat-option [value]="flair.key"
                            [style]="styleOption(flair.value)">{{flair.key.substring(0,8)}}</mat-option>
                        }
                    </mat-select>
                </label>
                <label>
                    <span>Flair Text:</span>
                    <input type="text" [formControl]="form!.controls.redditFlareText">
                </label>
            </mat-tab>
        </mat-tab-group>
    </form>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="!form || !form.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>