#error
    font-size: 1em
#edit
    label
        display: block
        margin-bottom: 10px
        margin-top: 10px
        span
            display: block
        input[type=text], textarea, mat-select
            width: 96%
    .flags
        label
            span
                display: inline
