<h2 mat-dialog-title>Add Podcast</h2>

<mat-dialog-content>
    @if (isLoading) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    } @else if (isInError) {
    @if (notFound) {
    <p id="error">Podcast not found.</p>
    } @else {
    <p id="error">An error occurred</p>
    }
    } @else {
    <form id="edit" [formGroup]="form!" (ngSubmit)="onSubmit()">
        <mat-tab-group>
            <mat-tab label="Details">
                <label>
                    <span>Name:</span>
                    <input type="text" [formControl]="form!.controls.podcastName" matInput>
                </label>
                <label>
                    <span>Spotify Id:</span>
                    <input type="text" [formControl]="form!.controls.spotifyId" matInput>
                </label>
                <label>
                    <span>Apple Id:</span>
                    <input type="number" [formControl]="form!.controls.appleId" matInput>
                </label>
                <label>
                    <span>YouTube Id:</span>
                    <input type="text" [formControl]="form!.controls.youTubeChannelId" readonly matInput>
                </label>
                <label>
                    <span>YouTube Playlist Id:</span>
                    <input type="text" [formControl]="form!.controls.youTubePlaylistId" matInput>
                </label>
                <label>
                    <span>YouTube Publication Delay:</span>
                    <input type="text" [formControl]="form!.controls.youTubePublicationDelay" matInput>
                </label>
            </mat-tab>
            <mat-tab label="Subjects">
                <label>
                    <span>Default Subject:</span>
                    <mat-select [formControl]="form!.controls.defaultSubject">
                        <mat-option [value]="">No Subject</mat-option>
                        @for (subject of defaultSubjects; track subject) {
                        <mat-option [value]="subject">{{subject}}</mat-option>
                        }
                    </mat-select>
                </label>
                <label>
                    <span>Ignored Subjects:</span>
                    <mat-select [formControl]="form!.controls.ignoredSubjects" multiple [sortComparator]="noCompareFunction">
                        @for (subject of ignoredSubjects; track subject) {
                        <mat-option [value]="subject">{{subject}}</mat-option>
                        }
                    </mat-select>
                </label>
                <label>
                    <span>Ignored Associated Subjects:</span>
                </label>
            </mat-tab>
            <mat-tab label="Social">
                <label>
                    <span>Twitter Handle:</span>
                    <input type="text" [formControl]="form!.controls.twitterHandle" matInput>
                </label>
                <label>
                    <span>Bluesky Handle:</span>
                    <input type="text" [formControl]="form!.controls.blueskyHandle" matInput>
                </label>
            </mat-tab>
            <mat-tab label="Services">
                <label>
                    <span>Release Authority:</span>
                    <select matNativeControl [formControl]="form!.controls.releaseAuthority">
                        @for (podcastService of podcastServices; track $index) {
                        <option [value]="podcastService">{{podcastService}}</option>
                        }
                    </select>
                </label>
                <label>
                    <span>Primary Post Service:</span>
                    <select matNativeControl [formControl]="form!.controls.primaryPostService">
                        @for (podcastService of podcastServices; track $index) {
                        <option [value]="podcastService">{{podcastService}}</option>
                        }
                    </select>
                </label>
            </mat-tab>
            <mat-tab label="Flags">
                <div class="flags">
                    <label>
                        <span>Removed:</span>
                        <mat-checkbox [formControl]="form!.controls.removed"/>
                    </label>
                    <label>
                        <span>Index All Episodes:</span>
                        <mat-checkbox [formControl]="form!.controls.indexAllEpisodes"/>
                    </label>
                    <label>
                        <span>Bypass Short Episode Checking:</span>
                        <mat-checkbox [formControl]="form!.controls.bypassShortEpisodeChecking"/>
                    </label>
                    <label>
                        <span>Skip Enriching From YouTube:</span>
                        <mat-checkbox [formControl]="form!.controls.skipEnrichingFromYouTube"/>
                    </label>
                    <label>
                        <span>Ignore All Episodes:</span>
                        <mat-checkbox [formControl]="form!.controls.ignoreAllEpisodes"/>
                    </label>
                </div>
            </mat-tab>
            <mat-tab label="Regexs">
                <label>
                    <span>Title Regex:</span>
                    <input type="text" [formControl]="form!.controls.titleRegex" matInput>
                </label>
                <label>
                    <span>Description Regex:</span>
                    <input type="text" [formControl]="form!.controls.descriptionRegex" matInput>
                </label>
                <label>
                    <span>Episode Match Regex:</span>
                    <input type="text" [formControl]="form!.controls.episodeMatchRegex" matInput>
                </label>
                <label>
                    <span>Episode Include Title Regex:</span>
                    <input type="text" [formControl]="form!.controls.episodeIncludeTitleRegex" matInput>
                </label>
            </mat-tab>
        </mat-tab-group>
    </form>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="!form || !form.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>