#error
    font-size: 1em

:host ::ng-deep .subjects-tab-highlight .mdc-tab__text-label
    font-weight: 700
    text-decoration: underline

#edit
    .full-width
        width: 100%
        display: block
        margin-top: 8px
        margin-bottom: 4px
    .flags
        display: flex
        flex-direction: column
        gap: 8px
        margin-top: 8px
