<h2 mat-dialog-title>Sending Discovery</h2>

<mat-dialog-content>

    @if (isSending) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    }
    @if (submitState.endpointError) {
    <div>
        <p>Error submitting discovery</p>
    </div>

    }
    @if (submitState.hasErrors) {
    <div>
        <p>Error occurred submitting discovery-item</p>
    </div>
    }

</mat-dialog-content>

@if (submitState.endpointError || submitState.hasErrors) {
<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
}