<h2 mat-dialog-title>Delete Episode</h2>

<mat-dialog-content>
    @if (this.isSending) {
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    } @else if (this.isInError) {
    <p id="error">An error occurred</p>
    @if (this.error) {
        @if (this.error.message) {
            <p>{{this.error.message}}</p>
        }
    }
    } @else {
    Deleting an episode is permanent
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="this.isSending" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>