<section id="notices">
  <p>Cult Podcasts has an <a href="https://github.com/cultpodcasts/PublicDatabase">index</a> of <span
      title="{{totalDuration}}">{{ homepage?.episodeCount ?? 37000 | number}}</span> podcasts on the subject of Cults.
  </p>
</section>
<div id="progresswrapper">
  @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</div>
<section id="thisweek">
  <h2>This weeks new releases.
    @if (podcastCount) {
    <span>{{podcastCount}} Podcasts.</span>
    }
  </h2>
  @if (isInError) {
  <p>An error occurred.</p>
  <p>{{errorText}}</p>
  }
  @for (dateItems of grouped | keyvalue: descDate; track descDate) {
  <div>
    <h3>{{Weekday[ToDate(dateItems.key).getDay()]}} {{ToDate(dateItems.key).getDate()}}
      {{Month[ToDate(dateItems.key).getMonth()]}}</h3>

<!-- start-->


<mat-card class="result">
  <mat-card-header>
    <mat-card-title><a>episodeTitle</a></mat-card-title>
    <mat-card-subtitle>
      <a>podcastName</a>
      <span class="duration"> duration</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="resultdescription">
    <app-episode-image imageUrl="https://i.scdn.co/image/ab6765630000ba8a901a2e710a2718c84e1084ba"></app-episode-image>
    <p>episodeDescription</p>
  </mat-card-content>
  <mat-card-actions>
    <a  mat-icon-button>
      <mat-icon svgIcon="youtube"></mat-icon>
    </a>
    <a  mat-icon-button>
      <mat-icon svgIcon="spotify"></mat-icon>
    </a>
    <a mat-icon-button>
      <mat-icon svgIcon="apple-podcasts"></mat-icon>
    </a>
    <button mat-icon-button >
      <mat-icon>share</mat-icon>
    </button>
    <mat-card-footer class="subjects">
      <div class="subject">
        <a >subject</a>
      </div>
    </mat-card-footer>
  </mat-card-actions>
</mat-card>



<!-- end -->
    @for (item of dateItems.value; track item.episodeId) {
    <mat-card class="result" id="{{item.episodeId}}">
      <mat-card-header>
        <mat-card-title><a
            [routerLink]="['/podcast', item.podcastName, item.episodeId]">{{item.episodeTitle}}</a></mat-card-title>
        <mat-card-subtitle>
          <a [routerLink]="['/podcast', item.podcastName]">
            {{item.podcastName}}</a>
          <span class="duration"> [{{item.length.substring(1)}}]</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="resultdescription">
        <app-episode-image [imageUrl]="item.image"></app-episode-image>
        <p>{{item.episodeDescription}}</p>
      </mat-card-content>
      <mat-card-actions>
        @if (item.youtube) {
        <a href="{{item.youtube}}" mat-icon-button>
          <mat-icon svgIcon="youtube"></mat-icon>
        </a>
        }
        @if (item.spotify) {
        <a href="{{item.spotify}}" mat-icon-button>
          <mat-icon svgIcon="spotify"></mat-icon>
        </a>
        }
        @if (item.apple) {
        <a href="{{item.apple}}" mat-icon-button>
          <mat-icon svgIcon="apple-podcasts"></mat-icon>
        </a>
        }
        <button mat-icon-button (click)="share(item)">
          <mat-icon>share</mat-icon>
        </button>
        <mat-card-footer class="subjects">
          @for (subject of item.subjects; track subject) {
          <div class="subject">
            @if (!subject.startsWith("_")) {
            <a [routerLink]="['/subject', subject]">{{subject}}</a>
            }
          </div>
          }
        </mat-card-footer>
      </mat-card-actions>
    </mat-card>
    }
  </div>
  }
</section>