/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'


mat-card-subtitle
    font-size: 1.4em !important
    margin-top: 10px
    margin-bottom: 10px
    a
        color: rgba(0, 0, 0, 0.54)
        text-decoration: dashed underline 1px
        text-underline-offset: 5px
        line-height: 1.5em
    a:hover
        text-decoration: none
    padding-bottom: 5px

p
    font-size: 18px
    line-height: 1.3em
