<section id="results">
    <div id="progresswrapper">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    </div>
    <ng-container *ngIf="!isLoading && error">
        <p id="error">
            An error occurred.
        </p>
        <div id="cta-button">
            <button mat-flat-button color="primary" (click)="reset()">Reset</button>
        </div>
    </ng-container>
    <section id="resultsheading">
        <h2>Outgoing Episodes</h2>
        <button id="sort" mat-icon-button [matMenuTriggerFor]="options" *ngIf="!isLoading && !error">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #options="matMenu">
            <div mat-menu-item>
                <mat-checkbox [(ngModel)]="posted" (change)="getEpisodes()">Posted</mat-checkbox>
            </div>
            <div mat-menu-item>
                <mat-checkbox [(ngModel)]="tweeted" (change)="getEpisodes()">Tweeted</mat-checkbox>
            </div>
            <div mat-menu-item>
                <mat-checkbox [(ngModel)]="blueskyPosted" (change)="getEpisodes()">Bluesky</mat-checkbox>
            </div>
            <button mat-menu-item (click)="openSetDays()">
                <mat-icon>calendar_month</mat-icon>
                <span>Set duration
                    @if (this.days) {
                    ({{this.days}})
                    }
                </span>
            </button>
            <button mat-menu-item id="dateasc" (click)="setSort(sortParamDateAsc)"
                [ngClass]="this.sortDirection==sortParamDateAsc?'selected':''">
                <mat-icon>arrow_upward</mat-icon>
                <span>Date ascending</span>
            </button>
            <button mat-menu-item id="datedesc" (click)="setSort(sortParamDateDesc)"
                [ngClass]="this.sortDirection==sortParamDateDesc?'selected':''">
                <mat-icon>arrow_downward</mat-icon>
                <span>Date descending</span>
            </button>
        </mat-menu>
    </section>
    <mat-card *ngFor="let result of episodes" class="result">
        <mat-card-header>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit(result.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Episode</span>
                </button>
                <button mat-menu-item (click)="post(result.id)">
                    <mat-icon>send</mat-icon>
                    <span>Post Episode</span>
                </button>
                @if (this.authRoles.includes("Admin")) {
                <button [disabled]="result.tweeted||result.posted" mat-menu-item (click)="delete(result.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Episode</span>
                </button>
                }
            </mat-menu>
            <mat-card-title>
                <span [outerHTML]="result.title"></span>
            </mat-card-title>
            <mat-card-subtitle>
                <a [routerLink]="['/podcast', result.podcastName]">
                    {{result.podcastName}}
                </a>
            </mat-card-subtitle>
            <mat-card-subtitle>{{result.release | date:'d MMM yyyy H:mm'}}
                [{{result.duration.split(".")[0].substring(1)}}]
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="resultdescription">
            <p>{{result.description}}</p>
            <app-episode-status [episode]="result"></app-episode-status>
        </mat-card-content>
        <mat-card-actions>
            <app-episode-podcast-links [episode]="result"></app-episode-podcast-links>
            <mat-card-footer class="subjects">
                <div *ngFor="let subject of result.subjects" class="subject">
                    <a [routerLink]="['/subject', subject]">{{subject}}</a>
                </div>
            </mat-card-footer>
        </mat-card-actions>
    </mat-card>
</section>
<div id="cta-button" *ngIf="!isLoading && !error">
    <button mat-flat-button color="primary" (click)="ngOnInit()">Refresh</button>
</div>