@if (episode) {
<div id="episodelinks">
    @for (link of serviceLinks; track link.key) {
    <a href="{{link.url}}" mat-icon-button target="_blank" rel="noopener noreferrer" [attr.aria-label]="link.displayName">
        @if (link.usesAppleMark) {
        <mat-icon><app-apple-podcasts-svg></app-apple-podcasts-svg></mat-icon>
        } @else {
        <mat-icon [svgIcon]="link.icon"></mat-icon>
        }
    </a>
    }
    <button mat-icon-button (click)="share(episode)">
        <mat-icon>share</mat-icon>
    </button>
</div>
}
