<h2 mat-dialog-title>Rename Podcast</h2>
<form #newPodcastNameForm="ngForm">

    <mat-dialog-content>
        @if (isSending) {
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
        } @else {
        @if (conflict) {
        <p>Conflicting podcast name</p>
        }
        @else if (isInError) {
        <p>An error occurred</p>
        }
        <p>Rename "{{podcastName}}" to</p>
        <input matInput type="text" (keydown.enter)="onSubmit()" class="form-control" id="newPodcastName" required
            [(ngModel)]="newPodcastName" name="newPodcastName" #newPodcastNameField="ngModel"
            (keyup)="checkControl(newPodcastNameField)" (keyup.enter)="onSubmit()">

        @if (newPodcastNameField.invalid && (newPodcastNameField.dirty || newPodcastNameField.touched)) {
        <div class="alert">
            @if (newPodcastNameField.hasError('required')) {
            <div>New podcast-name is required. </div>
            }
            @if (newPodcastNameField.hasError('unsafe')) {
            <div>Invalid podcast name.</div>
            }
        </div>

        }
        }
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">Close</button>
        <button mat-raised-button [disabled]="newPodcastNameForm.invalid" (click)="onSubmit()">Submit</button>
    </mat-dialog-actions>
</form>