#service-icons
    img
        width: 20px
        height: 20px
        padding-right: 10px
        vertical-align: text-bottom

#wrapper
  display: flex
  
#action
    height: auto
    padding-right: 0
    margin-right: -11px
    
div[matSnackBarActions]
    display: flex
    flex-shrink: 0
    align-items: center
    box-sizing: border-box
    margin-left: auto
