<section id="results">
    <div id="progresswrapper">
        @if (isLoading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
    </div>
    @if (!isLoading && error) {
    <ng-container>
        <p id="error">
            An error occurred.
        </p>
    </ng-container>
    }
    <section id="resultsheading">
        <h2>Review</h2>
        @if (!isLoading && !error) {
        <button id="sort" mat-icon-button [matMenuTriggerFor]="sort">
            <mat-icon>more_vert</mat-icon>
        </button>
        }
        <mat-menu #sort="matMenu">
            <button mat-menu-item id="dateasc" (click)="setSort(sortParamDateAsc)"
                [ngClass]="sortDirection==sortParamDateAsc?'selected':''">
                <mat-icon>arrow_upward</mat-icon>
                <span>Date ascending</span>
            </button>
            <button mat-menu-item id="datedesc" (click)="setSort(sortParamDateDesc)"
                [ngClass]="sortDirection==sortParamDateDesc?'selected':''">
                <mat-icon>arrow_downward</mat-icon>
                <span>Date descending</span>
            </button>
        </mat-menu>
    </section>
    @for (result of episodes; track result.id){
    <mat-card class="result">
        <mat-card-header>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit(result.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Episode</span>
                </button>
                <button mat-menu-item (click)="post(result.id)">
                    <mat-icon>send</mat-icon>
                    <span>Post Episode</span>
                </button>
                @if (authRoles.includes("Curator") && result.podcastName) {
                <button mat-menu-item id="edit" (click)="editPodcast(result.podcastName!)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Podcast</span>
                </button>
                }
                @if (authRoles.includes("Admin")) {
                <button [disabled]="result.tweeted||result.posted" mat-menu-item (click)="delete(result.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Episode</span>
                </button>
                }
            </mat-menu>
            <mat-card-title>
                <span [outerHTML]="result.title"></span>
            </mat-card-title>
            <mat-card-subtitle>
                <a [routerLink]="['/podcast', result.podcastName]">
                    {{result.podcastName}}
                </a>
            </mat-card-subtitle>
            <mat-card-subtitle>{{result.release | date:'d MMM yyyy H:mm'}}
                [{{result.duration.split(".")[0].substring(1)}}]
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="resultdescription">
            <app-episode-image [imageUrl]="result.image"></app-episode-image>
            <p>{{result.description}}</p>
            <app-episode-status [episode]="result"></app-episode-status>
        </mat-card-content>
        <mat-card-actions>
            <app-episode-podcast-links [episode]="result"></app-episode-podcast-links>
            <mat-card-footer class="subjects">
                @for (subject of result.subjects; track subject) {
                <div class="subject">
                    <a [routerLink]="['/subject', subject]">{{subject}}</a>
                </div>
                }
            </mat-card-footer>
        </mat-card-actions>
    </mat-card>
    }
</section>
@if (!isLoading && error) {
<ng-container>
    <div id="cta-button">
        <button mat-flat-button color="primary" (click)="ngOnInit()">Try again</button>
    </div>
</ng-container>
}
@if (!isLoading && !error) {
<div id="cta-button">
    <button mat-flat-button color="primary" (click)="ngOnInit()">Refresh</button>
</div>
}