<h2 mat-dialog-title>Before you login</h2>

<mat-dialog-content>
    <p>Logging in allows users to bookmark episodes. Use the <mat-icon>bookmark_add</mat-icon> and
        <mat-icon>bookmark</mat-icon> icons to toggle bookmarks.</p>
    <p>You can see your bookmarks by selecting "Bookmarks" on the menu</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close(false)">Close</button>
    <button mat-raised-button (click)="close(true)">Continue</button>
</mat-dialog-actions>