@media screen and (max-width: 599px)
    #body
        width: 100%
        max-width: 580px
    #socialbuttons
        display: none
    #menu
        margin-left: auto
        display: flex
        justify-content: flex-end
    .mat-toolbar-single-row
        padding-right: 0
@media screen and (min-width: 600px)
    #body
        width: 580px
    #menu
        display: none
    #socialbuttons
        margin-left: auto
        display: flex
        justify-content: flex-end
#header
    .beta
        color: #aaa
    #site
        text-decoration: none
        color: var(--mat-toolbar-container-text-color)
        img
            vertical-align : middle
            width: 40px
            height: 40px
        span
            padding-left: 8px
            vertical-align : middle
    .socialbutton
        width: 40px
        height: 40px
        padding-left: 20px
        vertical-align : middle
#body
    margin: 0 auto
#results, #homepage
    margin-top: 5px
#searchcontainer
    margin-left: 8px
    margin-right: 8px
    #searchbar
        align-items: baseline
        margin-top: 10px
        display: -webkit-flex
        display: flex
        list-style-type: none
        padding: 0
        justify-content: flex-end
        #searchbox
            flex-grow: 1
        #searchcta
            margin-right: auto
            margin-left: 8px
footer
    position: sticky
    bottom: 0
    width: inherit
    max-width: inherit
    background-color: var(--mat-toolbar-container-background-color)
    height: 1.7em
    padding-top: 5px
    margin-bottom: 3px
    text-align: right
    font-size: 1.3em
    z-index: 10
    .mat-icon
        vertical-align: bottom
        padding-left: 10px
        padding-right: 5px
    a
        text-decoration: none
        color: var(--mat-toolbar-container-text-color)
