<section id="body">
  <section id="header">
    <mat-toolbar color="secondary">
      <a routerLink="/" id="site" (click)="searchBox.value=''"><img src="/assets/cultpodcasts.svg"
          alt="image"><span>Cult Podcasts</span></a>
      <div id="socialbuttons">
        <img src="/assets/add-podcast.svg" alt="Add Podcast" class="socialbutton button" (click)="openSubmitPodcast()">
        <a href="https://reddit.com/r/cultpodcasts"><img src="/assets/reddit.svg" alt="Reddit" class="socialbutton"></a>
        <a href="https://twitter.com/cultpodcasts"><img src="/assets/twitter.svg" alt="Twitter"
            class="socialbutton"></a>
        <ng-container *ngIf="this.auth.user$ | async as user; else unAuthenticatedButton">
          <img (click)="this.auth.logout()" src="{{user.picture}}" style="border-radius: 50%;" alt="Profile"
            class="socialbutton button">
        </ng-container>
        <ng-template #unAuthenticatedButton>
          <img src="/assets/profile.svg" alt="Profile" class="socialbutton button"
            (click)="this.auth.loginWithRedirect()">
        </ng-template>
      </div>
      <button id="menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a (click)="openSubmitPodcast()" mat-menu-item>
          <mat-icon svgIcon="add-podcast" style="color:black"></mat-icon>
          <span>Add Podcast</span>
        </a>
        <a href="https://reddit.com/r/cultpodcasts" mat-menu-item>
          <mat-icon svgIcon="reddit"></mat-icon>
          <span>Reddit</span>
        </a>
        <a href="https://twitter.com/cultpodcasts" mat-menu-item>
          <mat-icon svgIcon="twitter"></mat-icon>
          <span>Twitter</span>
        </a>
        <ng-container *ngIf="this.auth.user$ | async as user; else unAuthenticatedMenuItem">
          <a (click)="this.auth.logout()" mat-menu-item>
            <img class="mat-icon" src="{{user.picture}}" style="width:24px; height: 24px; border-radius: 50%">
            <span>Profile</span>
          </a>
        </ng-container>
        <ng-template #unAuthenticatedMenuItem>
          <a (click)="this.auth.loginWithRedirect()" mat-menu-item>
            <mat-icon svgIcon="profile" style="color:black"></mat-icon>
            <span mat-mdc-menu-item-text>Profile</span>
          </a>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
  </section>
  <section id="searchcontainer">
    <form (onsubmit)="search(searchBox)" id="searchbar">
      <mat-form-field id="searchbox">
        <mat-chip-grid #chips>
          <mat-chip *ngIf="searchChip" (removed)="removeSearchChip()">
            {{searchChipDisplay()}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input type="text" matInput [matChipInputFor]="chips" placeholder="Search" id="searchtext" #searchBox
            (keydown.enter)="search(searchBox)">
        </mat-chip-grid>
      </mat-form-field>
      <button (click)="search(searchBox)" mat-flat-button color="secondary" id="searchcta">Search</button>
    </form>
  </section>
  <router-outlet></router-outlet>
  <footer>
    <a href="#" (click)="top($event)">
      <span>Go to top</span>
      <mat-icon fontIcon="arrow_upward"></mat-icon>
    </a>
  </footer>
</section>