<section id="body">
  <section id="header">
    <mat-toolbar color="secondary">
      <span>Cult Podcasts</span>
    </mat-toolbar>
    <div id="progresswrapper">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    </div>
  </section>
  <section id="notices">
    <p>Cult Podcasts has an index of over 5,750 podcasts on the subject of Cults.</p>
    <p>Please note the site is currently in a very early form and there are bugs!</p>
  </section>
  <section>
    <form (onsubmit)="search(searchBox)">
      <mat-form-field id="searchbox">
        <input type="text" matInput placeholder="Search" id="searchtext" #searchBox>
      </mat-form-field>
      <button (click)="search(searchBox)" mat-flat-button color="secondary" id="searchcta">Search</button>
    </form>
  </section>
  <section id="results">
    <mat-card *ngFor="let result of results" class="result">
      <mat-card-header>
        <mat-card-title>{{result.Title}}</mat-card-title>
        <mat-card-subtitle>{{result.Podcast}}, {{result.Released}} [{{result.Length}}]</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="resultdescription">
        <p>{{result.Description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button *ngIf="result.Spotify" href="{{result.Spotify}}">Spotify</a>
        <a mat-button *ngIf="result.Apple" href="{{result.Apple}}">Apple</a>
        <a mat-button *ngIf="result.YouTube" href="{{result.YouTube}}">You Tube</a>
      </mat-card-actions>
    </mat-card>

  </section>
</section>

