<section id="body">
  <section id="header">
    <mat-toolbar color="secondary">
      <a routerLink="/" id="site"><span>Cult Podcasts</span>&nbsp;<span class="beta"> pre-release</span></a>
      <div id="socialbuttons">
        <a href="https://reddit.com/r/cultpodcasts"><img src="/assets/reddit.svg" alt="image" class="socialbutton"></a>
        <a href="https://twitter.com/cultpodcasts"><img src="/assets/twitter.svg" alt="image" class="socialbutton"></a>
        <a href="https://github.com/cultpodcasts"><img src="/assets/github.svg" alt="image" class="socialbutton"></a>
      </div>
    </mat-toolbar>
  </section>
  <section id="searchbar">
    <form (onsubmit)="search(searchBox)">
      <mat-form-field id="searchbox">
        <input type="text" matInput placeholder="Search" id="searchtext" #searchBox>
      </mat-form-field>
      <button (click)="search(searchBox)" mat-flat-button color="secondary" id="searchcta">Search</button>
    </form>
  </section>
  <router-outlet></router-outlet>
</section>

