@media screen and (max-width: 599px)
    #body
        width: 100%
        max-width: 580px

@media screen and (min-width: 600px)
    #body
        width: 580px
#body
    margin: 0 auto
    min-height: 100%

#results, #homepage
    margin-top: 5px
    
#searchcontainer
    margin-left: 8px
    margin-right: 8px
    #searchbar
        align-items: baseline
        margin-top: 10px
        display: -webkit-flex
        display: flex
        list-style-type: none
        padding: 0
        justify-content: flex-end
        #searchbox
            flex-grow: 1
            mat-chip
                margin-top: 0
                margin-bottom: 0
                margin-left: 0
            input.mat-mdc-chip-input
                flex: 1 0 10px
        #searchcta
            margin-right: auto
            margin-left: 8px


