#error
    font-size: 1em
#edit
    .full-width
        width: 100%
        display: block
        margin-top: 8px
        margin-bottom: 4px
    label
        display: block
        margin-bottom: 10px
        margin-top: 10px
        span
            display: block
    .flags
        label
            span
                display: inline
