@if (_episode) {

@if (_episode.urls.youtube) {
<a href="{{_episode.urls.youtube}}" mat-icon-button>
    <mat-icon svgIcon="youtube"></mat-icon>
</a>
} @else if (_episode.youTubePodcast) {
<button mat-icon-button disabled="true">
    <mat-icon svgIcon="youtube" class="not"></mat-icon>
</button>
}

@if (_episode.urls.spotify) {
<a href="{{_episode.urls.spotify}}" mat-icon-button>
    <mat-icon svgIcon="spotify"></mat-icon>
</a>
} @else if (_episode.spotifyPodcast) {
<button mat-icon-button disabled="true">
    <mat-icon svgIcon="spotify" class="not"></mat-icon>
</button>
}

@if (_episode.urls.apple) {
<a href="{{_episode.urls.apple}}" mat-icon-button>
    <mat-icon><app-apple-podcasts-svg></app-apple-podcasts-svg></mat-icon>
</a>
} @else if (_episode.applePodcast) {
<button mat-icon-button disabled="true">
    <mat-icon><app-apple-podcasts-svg class="not"></app-apple-podcasts-svg></mat-icon>
</button>
}

@if ( _episode.urls.bbc &&
( _episode.urls.bbc.pathname.startsWith("/iplayer/") ||
_episode.urls.bbc.pathname.startsWith("/sounds/")||
_episode.urls.bbc.pathname.startsWith("/news/av-embeds/"))) {
<a href="{{_episode.urls.bbc}}" mat-icon-button>
    @if (_episode.urls.bbc.pathname.startsWith("/iplayer/")||
    _episode.urls.bbc.pathname.startsWith("/news/av-embeds/")) {
    <mat-icon svgIcon="bbc-iplayer"></mat-icon>
    } @else {
    <mat-icon svgIcon="bbc-sounds"></mat-icon>
    }
</a>
}

@if (_episode.urls.internetArchive) {
<a href="{{_episode.urls.internetArchive}}" mat-icon-button>
    <mat-icon svgIcon="internet-archive"></mat-icon>
</a>
}
}