#error
    font-size: 1em
#edit
    .full-width
        width: 100%
        display: block
        margin-top: 8px
        margin-bottom: 4px
    .search-actions
        margin-bottom: 10px
        button
            margin-right: 8px
    .sorts-as-hint
        margin: 0 0 10px
        opacity: 0.75
        font-size: 0.9em
    mat-checkbox
        display: block
        margin: 8px 0 12px
