<section id="results">
  <div id="progresswrapper">
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </div>
  <section id="resultsheading">
    <h2>{{resultsHeading}}</h2>
    <button id="sort" mat-icon-button [matMenuTriggerFor]="sort">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #sort="matMenu">
      <button mat-menu-item id="dateasc" (click)="setSort(sortParamDateAsc)"
        [ngClass]="searchState.sort==sortParamDateAsc?'selected':''">
        <mat-icon>arrow_upward</mat-icon>
        <span>Date ascending</span>
      </button>
      <button mat-menu-item id="datedesc" (click)="setSort(sortParamDateDesc)"
        [ngClass]="searchState.sort==sortParamDateDesc?'selected':''">
        <mat-icon>arrow_downward</mat-icon>
        <span>Date descending</span>
      </button>
      <button mat-menu-item id="rank" (click)="setSort(sortParamRank)"
        [ngClass]="searchState.sort==sortParamRank?'selected':''">
        <mat-icon></mat-icon>
        <span>Rank</span>
      </button>
    </mat-menu>
  </section>

  @if (facets.subjects && facets.subjects.length > 0) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Subjects ({{facets.subjects!.length}})</mat-panel-title>
      <mat-panel-description>
        @if (subjects.length==0) {
        All Selected
        } @else {
        {{subjects.length}} Selected
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox multiple (change)="subjectsChange($event)">
      @for (subject of facets.subjects; track subject.value) {
      <mat-chip-option [value]="subject" [selected]="subjects.indexOf(subject.value)>=0">{{subject.value}}
        ({{subject.count}})</mat-chip-option>
      }
    </mat-chip-listbox>
  </mat-expansion-panel>
  }

  @if (facets.podcastName && facets.podcastName.length > 0) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Podcasts ({{facets.podcastName!.length}})</mat-panel-title>
      <mat-panel-description>
        @if (podcasts.length==0) {
        All Selected
        } @else {
        {{podcasts.length}} Selected
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox multiple (change)="podcastsChange($event)">
      @for (podcast of facets.podcastName; track podcast.value) {
      <mat-chip-option [value]="podcast" [selected]="subjects.indexOf(podcast.value)>=0">{{podcast.value}}
        ({{podcast.count}})</mat-chip-option>
      }
    </mat-chip-listbox>
  </mat-expansion-panel>
  }

  @for (result of results; track result.id) {
  <mat-card class="result">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/podcast', result.podcastName, result.id]" [innerHTML]="result.episodeTitle"></a>
      </mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/podcast', result.podcastName]">
          {{result.podcastName}}
        </a>
      </mat-card-subtitle>
      <mat-card-subtitle>{{result.release | date:'d MMM yyyy'}}
        [{{result.duration.split(".")[0].substring(1)}}]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="resultdescription">
      <app-episode-image [imageUrl]="result.image"></app-episode-image>
      <p>{{result.episodeDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <app-episode-links [episode]="result"></app-episode-links>
      <mat-card-footer class="subjects">
        @for (subject of result.subjects; track subject) {
        <div class="subject">
          @if (!subject.startsWith("_")) {
          <a [routerLink]="['/subject', subject]">{{subject}}</a>
          }
        </div>
        }
      </mat-card-footer>
    </mat-card-actions>
  </mat-card>
  }
</section>
@if (showPagingPrevious || showPagingNext) {
<section id="paging">
  @if (showPagingPrevious) {
  <a mat-button id="previous" (click)="setPage(-1)">Previous</a>
  }
  @if (showPagingNext) {
  <a mat-button id="next" (click)="setPage(1)">Next</a>
  }
</section>
}